* {
    margin: 0;
    padding: 0;
}
html, body {
    font-family: tahoma;
}

:root {
    --lite-green: #ccf81eb3;
    --dark-black: #000;
}
#screen {
    font-family: tahoma;
    background: var(--dark-black);
    color: var(--lite-green);
    min-height: 100vh;
}

img {
    width: 100%;
}

.hero {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}

.hero img {
    width: 10rem;
    border-radius: 50%;
    border: 3px solid var(--lite-green);
    margin: 1rem;
}

.hero-txt {
    justify-content: center;
    text-align: center;
}
.hero-txt h1 {
    font-weight: 100;
    font-size: 7rem;
}
