<!DOCTYPE html>
<html>
    <head>
        <title>odr | toni</title>
        <link href="/static/css/styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body id="display">
        <header>
            <div class="hero">
                <div class="hero-txt">
                    <h1>toni</h1>
                </div>
                <div class="hero-img">
                    <img src="/static/images/tart.png" alt="Toni Art" />
                </div>
            </div>
        </header>
        <main></main>
        <footer>
            &copy;oduortoni2024
        </footer>
    </body>
</html>